@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');


html,
*, *::before, *::after {
    box-sizing: border-box;
}


body{
    background-color: black;
    color:#00AF05;
    font-family: "Jolly Lodger", system-ui;
    font-weight: 400;
    font-size: 128px;
    font-style: normal;
    text-align: center;
    -webkit-text-stroke-width: .2vh;
    -webkit-text-stroke-color: #09290A;
    
}

h1{
    color: #00AF05;
    font-family: Inspiration;
    font-size: 30vh;
    font-weight: 400;
}

h2{
    -webkit-text-stroke-width: .1vh;

}

h3{
    -webkit-text-stroke-width: .1vh;

}


p{
    color: #00A405;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-indent: 20px;
    font-size:5vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 80px;
    background: #09290a79;
    -webkit-text-stroke-width: .1vh;
    padding-left: 10vh;
    padding-right: 10vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.info-box{
display: flex;
align-items:center;
gap: 20px;
margin-bottom: 2vh
}

.info-box img{
object-fit: contain;
size-adjust:45%;
}

.general{
    align-content: center; 
    font-size: 5vh; 
}

.general2{
    display: flex;
    text-align: right;
    font-size: 5vh;
    align-content:center;
}

.general3{
    display: flex;
    text-align: left;
    font-size: 5vh;
    align-content:left;
}

a:-webkit-any-link {
    color:#00A405;
    cursor: pointer;
    text-decoration: none;


    display:flexbox;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size:8vh;
    font-weight: 400;
    line-height: normal;
    border-radius: 80px;
    background: #09290a79;
    -webkit-text-stroke-width: .2vh;
    padding-left: 5vh;
    padding-right: 5vh;
    padding-top: 2vh;
    padding-bottom: 2vh;

}
a:hover{
    color: #09290A;
    text-decoration: none;
}a:visited{
    color: #00A405;
    text-decoration: none;
}
a:active{
    color: #09290A;
    text-decoration: none;
}
